.poetry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 5px;
    position: relative;
}

.poetry .hitokoto,
.poetry .from {
    text-align: center;
    color: rgb(153, 138, 138);
}

.poetry .from {
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    right: 50%;
    padding-top: 30px;
    transform: translateX(50%);
}

.poetry .hitokoto {
    cursor: pointer;
    margin-top: 5px;
    position: relative;
    z-index: 999;
}